
i{
    font-size: 50px;
    color: black;
}

p{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  /* Barrita :v*/
  .barra {
    background-color: #A82112;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .barra p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }

  .card{
    background-color: #C4C4C4;
    color: black;
  }

  .btn{
    background-color: #A82112;
    border: black;
    color: white;
  }

  .container_f{
    background-color: #292c30;
    color: white;
  }